# Scratch copies of the pinned reference implementation.
# The spec cites commit permalinks; a local partial copy only invites drift,
# and vendoring third-party source here would need its own license and attribution.
.ref/
__pycache__/
*.pyc
